@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#box{
    width: 55vw;
    height: 70vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 15px;
}

#logotipo{
    font-size: 2vw;
}


section{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#input{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 10px;
}

#input input{
    border: none;
    border-bottom: 3px solid black;
    cursor: text;
    outline: none;
}

#links{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid black;
}

#cont-1{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cont-1 img{
    width: 1.9vw max(1vw);
    height: 3.8vh;
}

#cont-2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 3px solid black;
}

#cont-2 img{
    width: 1.9vw max(1vw);
    height: 3.8vh;
}

a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
}

#lembrar{
    width: 30%;
    display: flex;
    gap: 10px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.container {
    position: relative;
    cursor: pointer;
    width: 17px;
    height: 17px;
    border: 3.4px solid rgb(0, 0, 0);
    display: block;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
}
  
.checkmark:after {
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: rgb(0, 0, 0);
    width: 0.4vw;
    height: 0.8vh;
    transform: scale(0);
    transition: .1s ease
}
  
.container input:checked ~ .checkmark:after {
    transform: scale(1);
}

#label{
    height: 20%;
    padding-left: 30px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    text-align: start;
}

p{
    width: 30vw;
    font-size: 1.2vw;
}

footer{
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    justify-content: end;
    align-items: end;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10vw;
    height: 8vh;
    background-color: black;
    cursor: pointer;
}

#button:hover{
    background-color: transparent;
    border: 3px solid black;
    color: white;
}

#button a{
    color: white;
    width: 10vw;
    height: 8vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

#button a:hover{
    color: black;
}