@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.screen-card {
    width: 35%;
    padding-left: 3%;
    padding-top: 1%;
}

table,
tr {
    width: 100%;
    height: 7vh;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 3px solid black;
}



table {
    margin-bottom: 4%;
}

button {
    background-color: black;
    cursor: pointer;
    width: 100%;
    height: 7vh;
    border: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

body {
    display: flex;
}

.tnt-card {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botaao {
    display: flex;
    justify-content: center;
    width: 37vw;
    
}

#carouselExampleIndicators {
    margin-bottom: 3%;
}

#bot1 {
    margin-right: 1px;
    background-color: white;
    color: black;
    border: 3px solid black;
}

#bot1:hover{
    background-color: rgb(201, 197, 197);
}

#bot2:hover{
    background-color: rgb(201, 197, 197);
}

button#bot1:focus {
    background-color: rgb(201, 197, 197);
}

button#bot2:focus {
    background-color: rgb(201, 197, 197);
}


#bot2 {
    border: 3px solid black;
    background-color: white;
    color: black;
}