@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container-cotar-4{ 
    height: 100vh;
    width: 100%; 
    background-color: white; 
        
    display: flex;
    align-items: center;
    justify-content: center; 
}
#formulario-cotar-4{ 
    height: 80vh;
    width: 60%; 
    background-color: white; 
    box-shadow: 0px 4px 57px 6px #00000040;
    padding: 15px; 
    
        
    display: flex;
    flex-direction: column;
        
}
#voltar-cotar4{
    border-radius: 100%;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    
    font-size: 1.9vw;
        
    display: grid;
    grid-area: 1;
}
#titulo-cotar4{
    font-size: 40px;
        
    position: absolute;
    top: 25%;
    left: 44%;
}
#text4{
    position: absolute;
    top: 35%;
    left: 35%;
}
#cotacao-btn4{
    position: absolute;
    top: 45%;
    left: 45%;

    height: 6vh;
    width: 7vw;
    border-radius: 10px;
    font-size: 3.5vh;

    background-color: white;
    color: black;

}
#tela-principal-btn4{
    position: absolute;
    top: 83%;
    left: 70%;
    background-color: black;
    color: white;
    width: 10vw;
    height: 7vh;
    cursor: pointer;
}