@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

#container-cotar-1{ 
    height: 100vh;
    width: 100%; 
    background-color: white; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#formulario-cotar-1
{ 
    height: 80vh;
    width: 60%; 
    background-color: white; 
    box-shadow: 0px 4px 57px 6px #00000040;
    padding: 15px; 
    
    display: grid;
    grid-template-columns: 17% 20% 26% 20% 17%;
    grid-template-rows: 15% 15% 55% 15%;
    
}
form{ 
    display: grid; 
    grid-row: 3;
    grid-column: 2;
}
.campos-cotar-1{ 
    height: 10vh; 
    width: 37.5vw; 
    border: none; 
    border-bottom: 3px solid black; 
    outline: none; 
    color: black; 
    font-weight: 600; 
    padding-top: 30px; 
   
    display: grid;
    grid-column: 3;
    grid-row: 4;

}
#voltar-cotar1{
    border-radius: 100%;
    width: 2.5vw;
    height: 2.5vw;

    font-size: 1.9vw;
    
    display: grid;
    grid-area: 1;
    
    
}
#titulo-cotar1{
    font-size: 40px;
    
    position: absolute;
    top: 25%;
    left: 44%;
}
#proximo-btn1{
    background-color: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 7vh;
    cursor: pointer;

    font-size: 1vw;

    position: absolute;
    top: 83%;
    left: 70%;
}