@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bloco{
    padding: 1vw 3vw;
    width: 90%;
}

#box{
    width: 100%;
    
    display: block;
    justify-content: center;
    align-items: center;
}

#p1{
    display: flex;
    height: 8vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    align-items: center;
    justify-content: space-between;
}

#p2{
    display: flex;
    height: 8vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;

}

#caixa{
    display: flex;
    flex-direction: row;
    gap: 4vw;
    padding-top: 3vh;
}

#box1{
    width: 50%;
    height: 65vh;
    display:flex;
    flex-direction: column;
    padding-top: 1vh;
}

#quadrado2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-top: 3vh;
}

#p3{
    width: 100%;
    height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

#quadrado1{
    width: 100%;
    height: 70vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

#text-input{
    width: 40vw;
}

#duvida{
    border: none;
    outline: none;
}

#frequentes{
    border: none;
    outline: none;
}

#CORREÇÃO{
    border: none;
    outline: none;

}
.texto{
    padding-left: 1vw;
    color: #000000;
    font-weight: 10px;
    font-family: 'Montserrat', sans-serif;
}
































